#apply{
	z-index: 20;
	position: relative;
	top: 35em;
}
#aBigTitle{
	font-size: 2em;
	font-weight: 900;
}
#aBigTitle>span{
	background: rgba(238,239,239,0.8);
	padding: 20px;
	border-radius: 10px;
}
#aBigTitle>span>span{
	border: 5px solid #0A232E;
	padding: 2px 15px;
	background: #EEEFEF;
}

#aLittleTitle{
	font-size: 1.3em;
	font-weight: 700;
	border: 5px solid #009DE6;
	padding: 2px 5px;
	display: inline-block;
	margin-left: 110px;
}

#LittleContent{
	font-size: 1.3em;
	font-weight: 700;
	width: 80%;
	text-align: left;
	margin-left: 120px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#aContent{
	background: rgba(238,239,239,0.8);
	width: 95%;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 25px;
}

