#apply{
	z-index: 20;
	position: relative;
}
#aBigTitle{
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
}
#aBigTitle #aTitle{
	padding: 20px;
	border-radius: 10px;
}
#aBigTitle #aTitle>span{
	padding: 5px 5px;
	border: 4px solid rgba(10,35,46,0.9);
}
#aBigTitle #aTitle>span>span{
//	border: 4px solid transparent;
	padding: 0 15px;
	background: rgba(10,35,46,0.9);
	color: #EEEFEF;
}
#aBigTitle #resume{
	height: 50px;
	margin-bottom: 20px;
}
#aBigTitle #resume>span{
	padding:10px 20px;
	background:#0A232E;
	border-radius: 20px;
	font-size: 0.8em;
}
#aBigTitle #resume a{
	color: white;
}
#aBigTitle #resume a:hover{
	color: #D5E42F;
}

.aLittleTitle{
	font-size: 1.3em;
	font-weight: 700;
	padding: 2px 5px;
	display: inline-block;
	margin-left: 110px;
	background: #009ED6;
	color: #fff;
	border-radius: 5px;
}

.LittleContent{
	font-size: 1.2em;
	font-weight: 500;
	width: 80%;
	text-align: left;
	margin-left: 120px;
	margin-top: 15px;
	margin-bottom: 20px;
	text-shadow: 2px 0 0 #EEEFEF, 
				-2px 0 0 #EEEFEF, 
				 0 2px 0 #EEEFEF, 
				 0 -2px 0 #EEEFEF, 
				 1px 1px #EEEFEF, 
				-1px -1px 0 #EEEFEF, 
				 1px -1px 0 #EEEFEF, 
				-1px 1px 0 #EEEFEF;
}

#aContent{
	width: 85%;
	margin: 0 auto;
	padding-top: 20px;
}

