#intro{
	text-align: center;
	z-index: 20;
	position: relative;
}

#introText{
	font-size: 1.3em;
	font-weight: 500;
	text-shadow: 2px 0 0 #EEEFEF, 
				-2px 0 0 #EEEFEF, 
				 0 2px 0 #EEEFEF, 
				 0 -2px 0 #EEEFEF, 
				 1px 1px #EEEFEF, 
				-1px -1px 0 #EEEFEF, 
				 1px -1px 0 #EEEFEF, 
				-1px 1px 0 #EEEFEF;
}

#introImg{
	margin-top: 50px;
}
#introImg img{
	margin: 0 50px;
	width: 150px;
}

#introTitle{
	background: white;
	width: 650px;
	height: 30px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
#introTitle>div{
	display: inline-block;
	font-size: 23px;
	font-weight: 900;
	color: #009DE6;
}

#tr02{
	position: relative;
	left: -253px;  //美宣-253 企劃0 技術253
}

#introContent{
	font-size: 1.3em;
	font-weight: 500;
	color: white;
	height: 80px;
	text-shadow: 2px 0 0 #009DE6, 
				-2px 0 0 #009DE6, 
				 0 2px 0 #009DE6, 
				 0 -2px 0 #009DE6, 
				 1px 1px #009DE6, 
				-1px -1px 0 #009DE6, 
				 1px -1px 0 #009DE6, 
				-1px 1px 0 #009DE6;
}

#introSlider>div>div{
	display: inline-block;
	margin: 23px 10px;
	width:180px;
}
.topText{
	font-size: 1.2em;
	font-weight: 700;
	margin-bottom: 10px;
	text-shadow: 1px 0 0 #009DE6, 
				-1px 0 0 #009DE6, 
				 0 1px 0 #009DE6, 
				 0 -1px 0 #009DE6, 
				 0.5px 0.5px #009DE6, 
				-0.5px -0.5px 0 #009DE6, 
				 0.5px -0.5px 0 #009DE6, 
				-0.5px 0.5px 0 #009DE6;
}
.circle{
	display: inline-block;
}
.circleText{
	position: relative;
	top:-110px;
	width: 100%;
	color: white;
	font-weight: 100;
	font-size: 2.8em;
	text-shadow: 2px 2px 4px #0A232E;
}

.introFilm{
	font-size: 1.5em;
	margin-top: 100px;
	font-weight: 900;
}
.FilmTitle>span{
	padding: 5px 5px;
	border: 4px solid rgba(0,157,230,0.9);
}
.FilmTitle>span>span{
	background: rgba(0,157,230,0.9);
	color: white;
	padding: 0 15px;
}

