#lecture{
	text-align: center;
	z-index: 20;
	position: relative;
	top: 50em; //300px;
}

#aSchool{
	margin: 100px 0;
	padding: 50px;
	background: #009DE6;
	height: 500px;
	color: white;
}
#aSchoolTitle{
	font-size: 2em;
	margin-top: 50px;
	font-weight: 900;
}
#aSchoolTitle>span{
	border: 5px solid white;
	padding: 2px 15px;
}

