#lecture{
	text-align: center;
	z-index: 20;
	position: relative;
	top: 35em;
}

#aSchool{
	margin: 100px 0;
	padding: 110px;
	background: #009DE6;
	height: 500px;
	color: white;
}
#aSchoolTitle{
	font-size: 2em;
	margin: 60px 0;
	font-weight: 900;
}
#aSchoolTitle>span{
	border: 5px solid white;
	padding: 2px 15px;
}

#aSchoolContent{
	margin: 40px;
	font-size: 1.3em;
}

#lContent{
	font-size: 1.5em;
}

