html,body{
	min-width: 1280px;
	width: 100%;
	background: #EEEFEF;
	font-family: Microsoft JhengHei;
	color: #0A232E;
	margin: 0;
	cursor: default;
}
body{height:100%;}

#navigation.float-scroll{
	position: fixed;
	top: 0;
}
#navigation{ 
	width: 100%; 
	max-height: 100px; 
	position: relative; 
	top: 30px;
	background: #009DE6; 
	z-index: 30; 
	box-sizing: border-box;
}
#navigation-wrap { 
	position: relative; 
	max-width: 1140px; 
	padding: 20px 2em; 
	margin: 0 auto; 
	box-sizing: border-box; 
	text-align: right; 
}
#nav { 
	overflow: hidden; 
	display: inline-block; 
	max-width: 78%; 
	margin: 0 1em 0 0; 
}
#nav ul{
	list-style: none;
	margin: 0 auto;
}
#nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
}
#nav ul li a{
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	color: #0A232E;
	font-weight: 900;
	padding: 4px 0 2px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	transition: all 100ms linear;
}
#nav ul li#active a, #nav ul li a:hover{ color: #D5E42F; }

.background{
	position: absolute;
	min-width: 1280px;
	width: 100%;
	z-index: 0;
}
.background img{
	width:100%;
}
#bg2{
	position: relative;
	top: 100px;
}

#footer{
	text-align: center;
	margin: 50px;
	font-size: 1.2em;
	font-weight: 700;
}

