html,body{
	min-width: 1280px;
	width: 100%;
	background: #EEEFEF;
	font-family: Microsoft JhengHei;
	color: #0A232E;
	margin: 0;
	cursor: default;
}
body{
	height:100%;
}
body>div:not(#loader){
	display: none;
}
a{color: #009DE6; text-decoration: none;}
a:hover{color:#D5E42F;}

#loader{
	height: 100%;
	width: 100%;
	z-index: 999;
	background: rgba(255,255,255,0.9);
	position: fixed;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
}

.float-scroll{
	position: fixed;
	top: 0;
}
.no-scroll{
	position: relative; 
	top: 30px;
}
#navigation>a{display:block;}
#navigation #nav-ul{display:block;}
#navigation{ 
	width: 100%; 
	max-height: 100px; 
	background: #009DE6; 
	z-index: 30; 
	box-sizing: border-box;
}
#navigation #mspStar{
	position:absolute;
	top:5px;
	left:100px;
	z-index:20;
	height:140px;
}
#navigation #mobileText, #navigation #mobileMenu{display:none;}
#navigation-wrap { 
	position: relative; 
	max-width: 1180px; 
	padding: 20px 0; 
	margin: 0 auto; 
	box-sizing: border-box; 
	text-align: right; 
}
#nav { 
	overflow: hidden; 
	display: inline-block; 
	max-width: 78%; 
	margin: 0 1em 0 0; 
}
#nav ul{
	list-style: none;
	margin: 0 auto;
}
#nav ul li{
	list-style: none;
	display: inline-block;
	margin: 0 15px;
}
#nav ul li a{
	text-decoration: none;
	font-size: 1.5em;
	display: block;
	color: #0A232E;
	font-weight: 900;
	padding: 4px 0 2px;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	transition: all 100ms linear;
}
#nav ul li#active a, #nav ul li a:hover{ color: #D5E42F; }

#mobile>a{display:none;}
#mobile.float-scroll{
	position: fixed;
	top: 0;
}
#mobile{ 
	width: 100%; 
	max-height: 100px; 
	position: relative; 
	top: 30px;
	background: #009DE6; 
	z-index: 30; 
	box-sizing: border-box;
}
#mobile #mspStar{
	position:absolute;
	top:5px;
	left:10px;
	z-index:20;
	height:140px;
}
#mobile #mobileMenu{
	position: absolute;
	top: 13px;
	right:50px;
	font-size:2.5em;
	cursor: pointer;
	z-index:100;
}
#mobile #mobileText{
	position:absolute;
	top:23px;
	width:100%;
	text-align:center;
	font-size: 2em;
	margin-left: 10px;
	color: white;
}
#mobile #nav { 
	min-height: 45px;
	height: auto;
}
#mobile #nav-ul {
	width: 100%;
	display: none;
	height: auto;
	z-index: 50;
}
#mobile #nav li {
	width: 50%;
	position: relative;
	right: 70px;
	background: rgba(0,160,232,0.7);
}
#mobile #nav li a {
	border-bottom: 1px solid #576979;
	border-right: 1px solid #576979;
	color: white;
}
#mobile #nav li a:hover{color: #D5E42F;}
#mobile #nav a {
  	text-align: left;
  	width: 100%;
  	text-indent: 25px;
}

#bg2{
	position: absolute;
	min-width: 1280px;
	width: 100%;
	z-index: 0;
}
#bg1{
	position: relative;
	width:100%;
}
#bg3{
	position: relative;
	width: 100%;
	top: -10em;
}

#footer{
	position: relative;
	text-align: center;
	font-size: 1.2em;
	color: #fff;
	font-weight: 700;
	background: #009DE6;
	padding: 80px 0 100px 0;
	width: 100%;
}

