#qa{
	z-index: 20;
	position: relative;
	margin: 150px 50px;
}

.Q_style{
	font-size: 1.7em;
	font-weight: 550;
	padding: 2px 5px;
	display: inline-block;
	margin-left: 110px;
	background: #009ED6;
	color: #fff;
	border-radius: 5px;
}

.Ques{
	cursor: pointer;
}

.Ans{
	width: 85%;
	color:#009DE6;
	margin-left: 5%;
	margin-top: 5px;
	border-radius: 5px;
	background:rgba(255, 255, 255, 0.9);
	padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
	
}

#qaContent{
	width: 85%;
	margin: 0 auto;
}

.accordionPart{
	margin-left: 120px;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 1.2em;
	padding: 0;
}
